<div class="row top-row" ng-init="game.init()">
      <div class="col-sm-12">
        <div class="alert alert-info" role="alert">{{game.gameService.message}}</div>
      </div>
      <div class="col-sm-12">
        <a class="btn btn-default btn-large"  href="/#/">Homepage</a>
        <button class="btn btn-primary btn-large" ng-click="game.newGame()" ng-show="game.gameService.status">Play Again</button>
      </div>
</div>

<div class="row">
    <div class="player dealer" ng-class="{ 'is-current' : game.gameData.dealer.turn }" s>
      <h3>Dealer - <span>Points: {{game.dealer.points}}</span></h3>
        <div class="deck">
            <div class="card" ng-repeat="card in game.gameData.dealer.hand">
              <span class="value {{card.suit}}">{{card.point}}</span>
            </div>
        </div>
        <div  class="alert" 
              ng-class="{ 'alert-success' : game.gameData.dealer.status === 1, 'alert-info' : game.gameData.dealer.status === 2, 'alert-danger' : game.gameData.dealer.status === 3 }" 
              role="alert" 
              ng-show="game.gameData.dealer.status">{{game.gameData.dealer.message}}</div>
    </div>
</div>

<div class="row">
  <div class="player" ng-class="{ 'is-current' : player.turn }" ng-repeat="player in game.gameData.players" >
    <h4>{{player.name}} - <span>Points: {{player.points}}</span></h4>
      <div class="deck">
          <div class="card" ng-repeat="card in player.hand">
            <span class="value {{card.suit}}">{{card.point}}</span>
          </div>
      </div>
      <div  class="alert" 
            ng-class="{ 'alert-success' : player.status === 1, 'alert-info' : player.status === 2, 'alert-danger' : player.status === 3 }" 
            role="alert" 
            ng-show="player.status">{{player.message}}</div>
      <div class="commands" ng-show="player.turn">
        <button class="btn btn-info" ng-click="game.hit( player )">Hit</button>
        <button class="btn btn-warning" ng-click="game.stick( player )">Stick</button>
        <button class="btn btn-default" ng-click="game.splitHand( player )" ng-show="player.canSplit">Split</button>
      </div> 
  </div>
</div>